{% extends 'base.html' %}

{%block title%}
    Formulaire d'inscription
{%endblock%}

{%block body%}
    <h1>Formulaire d'inscription :</h1>
    <form action="{{ url_for('register') }}" method="post">
        <label for="nomUtilisateur">Nom d'utilisateur :</label>
        <input type="text" id="nomUtilisateur" name="nomUtilisateur" required>
        <label for="mdp">Mot de passe :</label>
        <input type="password" id="mdp" name="mdp" required>
        <button type="submit" style="width: 25%;">S'inscrire</button>
    </form>
    <div class="ocean" style="opacity: calc(50%);">
        <div class="wave"></div>
        <div class="wave"></div>
      </div>
{%endblock%}