<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inscription réussie</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Inscription réussie</h1>
    <p class="inscription_text">Merci de vous être enregistré !</p>
    <div class="container">
        <a href="/home" style="width: 25%;"><button>→ Accueil ←</button></a>    
	</div>
    <div class="ocean" style="opacity: calc(50%);">
        <div class="wave"></div>
        <div class="wave"></div>
      </div>
</body>
</html>
